.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options {
    margin: 0px 20px;
    font-size: 15px;
}